<footer class="footer">
  <div class="container">
    <div class="content has-text-centered has-text-weight-bold">
      <a href="https://github.com/solero" target="_blank">GitHub</a> &bullet; 
      <a href="https://discordapp.com/invite/UPnWKfh" target="_blank">Discord</a> &bullet; 
      <a href="https://solero.me" target="_blank">Solero</a> &bullet; 
      <a href="https://acatisfinetoo.me" target="_blank">Acift</a>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="HJR9TBAXKTSBU">
        <button name="submit" class="button is-link is-small">
          <span class="icon is-small">
            <i class="fas fa-dollar-sign"></i>
          </span>
          <span>Donate</span>
        </button>
      </form>   
    </div>   
  </div>
</footer>